body{
    background-color: rgb(235, 202, 221);
    color: rgb(1, 1, 39);
    font-family: "Courier New", monospace;
    margin: 0;
}
section{
    padding: 75px;
    margin: 20px 0px 0px 0px;
    scroll-margin-top: 75px;
}
h1{
    font-family: "Copperplate", monospace;
    font-size: 72px;
    font-weight: 500;
    color:rgb(44, 1, 44);
}
h2{
    font-family: "Copperplate", monospace;
    font-size: 36px;
    font-weight: 300;
    color:rgb(20, 0, 15);
}
p{
    margin-bottom: 0;
}

#experience{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.flex-container{
    width: calc(50% -17px);
    margin-bottom: 20px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: azure;
    border: 1px solid rgb(246, 136, 114);
    border-radius: 8px;
}
@media(max-width:800px){
    .flex-container{
        flex-direction: column;
    }
}
#skills{
    display: block;
    background-color: rgb(246, 136, 114);
}
label{
    background-color: papayawhip;
    font-size: 15px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
input{
    padding: 5px;
    margin: 5px;
    width: 50%;
    height: 30px;
    border: 1px solid coral;
    border-radius: 5px;
    font-size: 20px;
}
textarea{
    padding: 10px;
    width: 75%;
    height: 150px;
    border: 1px solid coral;
    border-radius: 5px;
    resize: none;
    font-size: 20px;
}
#connect{
    display: block;
    font-family: "Sevillana", monospace;
}
#leave-message{
    width: 100%;
    display: inline-block;
    font-family: "Sevillana", monospace;
    background-color: rgb(246, 136, 114);
}
input [type=button], [type=submit], [type=remove]{
    padding: 5px;
    background-color: rgb(243, 75, 120);
    color: #580724;
    border: 2px;
}
footer{
    background-color: papayawhip;
    text-align: center;
    word-spacing:normal;
    margin-bottom: 0;
}
/*style navmenu*/
#navmenu{
    background-color:darksalmon;
    overflow: hidden;
    padding: 16px;
    padding-bottom: 5px;
}
/*navmenu links*/
#navmenu a {
float: left;
display:block;
color:midnightblue;
text-align: center;
padding: 20px;
text-decoration: none;
font-size: 17px;
}
#navmenu a:hover{
    background-color: papayawhip;
    color: black;
}
#navmenu a.active{
    background-color:bisque;
    color:midnightblue;
}
/*page content*/
.content{
    padding: 20px;
}
/*Sticky class added to the navmenu with JS when it reaches its scroll position*/
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top:60px;
}
@media screen and (max-width: 500px){
    #navmenu a {
        float: none;
        display: block;
    }
}

